/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=====END reset styles======*/
body{
	font-family: "Roboto Condensed",sans-serif;
	min-height: 9000px !important;
}

.bg-red{
	background-color: #f72210;
}
header{
	font-family: "Roboto Condensed",sans-serif;
}
p{
	margin-bottom: 0 !important;
}
.header-h1{
	color: white;
	font-size: 65px;
	font-family: 'Bevan', cursive;
}
.text-color-a{
	font-size: 18px;
	color: black !important;
}

.text-color-a:hover{
	color: #f72210;
}
.right-block a:hover,
.text-absolut:hover,
.hover-a:hover{
	text-decoration: none;
	color: red;
}

/*=== START section with three column===*/
.logo-N-img{
	width: 30px;
	height: 30px;
	background-color: #f72210;
}

.bottom-left-absolute{
	position: relative;
}
.text-absolut{
	display: block;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: 72px;
    left: 0;
    z-index: 1;
}
.middle-grey-bg-block{
	font-family: 'Lora', serif;
	font-size: 20px;
	color: #272727;
}
.middle-grey-bg-block:hover{
	text-decoration: none;
	color: #272727;
}

.grey-bg{
	margin: 5px 0 5px 3px;
	padding: 4px;
	color: #272727;
	background-color: #c2d4d7;
	text-decoration: none;
}
.grey-bg:hover{
	background-color: #272727;
	color: #c2d4d7;
	text-decoration: none;
}
.right-block a{
	font-size: 16px;
}

.left-column,
.middle-column,
.right-block a{
    line-height: 0;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.right-block a,
.middle-column a {
	font-size: 16px;
}
.left-column:hover,
.middle-column:hover{
	color: black;
	text-decoration: underline red;
}
.left-column,
.font-s>a{
	font-size: 22px;
}
.latest-news img{
	width: 135px;
}
/*====START block with four columns====*/


/*====END block with four columns====*/


/*====START with img gallery three columns*/
.img-newsweek img{
	width: 30px;
	min-height: 30px;
	background: red;
}

/*====END with img gallery three columns*/

/*= START three column: at the last three row===*/
.color-red{
	margin-left: 15px;
	color: #f72210;
	font-weight: bold;
	font-size: 23px;
	font-family: 'Roboto Condensed', sans-serif;
}
.color-red:hover,
.text-decoration-none:hover{
	text-decoration: none;
	color: #f72210 !important;
}

.img-absolute{
	position: relative;
	padding-bottom: 13px;
    padding-right: 90px;
}
.img-positioning{
	position: absolute;
	top: 78px;
    left: 140px;

}
/*= END three column: at the last three row===*/

/*=== footer*/
.footer-logo{
	font-family: 'Bevan', cursive;
	font-size: 40px;
	color: #f72210;
}
.footer-logo:hover{
	text-decoration: none;
	color: #f72210;
}
.social-style{
	font-size: 26px;
}
.social-style i:hover{
	color: #3b5998;
}
.footer-bottom{
	line-height: 2;
	font-size: 15px;
}
.footer-bottom li:hover{
 color: black;
}